<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
</head>
<body>
<form class="form" action=# id="register" method="POST" enctype="multipart/form-data" >
          
          <h3>Restaurant regisration form</h3>
          <hr/><br/>
          <label>Restaurant Name: </label>
          <br/>
          <input type="text" name="Rnamme"/><br/>
          <br/>
          <label>Location : </label>
          <br/>
          <input type="text"/><br/>
          <br/>
          <label>Upload menu:</label><br>
          <input type="file" name="menu" /><br/>
          <input type="submit" id="reg" value="Register"/>
          </form>
</body>
</html>